body, ul,ol, li, div, p, h1, h2, h3, h4, h5, h6, img{ border: 0px; margin: 0px; padding: 0px; list-style: none; }

body{
	background: url(imgs/f.jpg) top center;
    font-size: 62.5%;
    font-family: Helvetica,Arial;
    color:#fff;
}

	h1{
		background: url(imgs/titulotop.png) no-repeat;
		width: 775px;
		height: 104px;
		margin: 11px auto 5px auto;
	}
	
	p{
		font-size: 1.4em;
		
	}
	
		h1 a{
			display: block;
			height: 104px;
			text-indent: -9999px;
		}
	
	body > div#cuerpo{
		width: 775px;
		background: url(imgs/ff.png);
		margin: 10px auto;
		height: 926px;
		clear: both;
	}
	
		#info{
			height: 318px;
		}
			#info > p{
				width: 295px;
				float: left;
				height: 318px;
				background: url(imgs/servicios.png) no-repeat center center;
				text-indent: -9999px;
			}
		
			#info > div{
				background: #000;
				width: 476px;
				height: 314px;
				padding: 2px;
				float: left;
			}
		
		body > div#cuerpo > ul{
			width: 738px;
			height: 135px;
			margin: 5px auto;
			padding: 15px 18px;
			border-top: 1px solid #2f2116;
			border-bottom: 1px solid #2f2116;
		}
			body > div#cuerpo > ul > li{
				width: 167px;
				height: 135px;
				background: url(imgs/menu.jpg) no-repeat;
				margin:0px  8px;
				float: left;
			}
			body > div#cuerpo > ul > li.ub{ background-position: -180px 0px; }
			body > div#cuerpo > ul > li.in{ background-position: -360px 0px; }
			body > div#cuerpo > ul > li.ct{ background-position: -540px 0px; }
				body > div#cuerpo > ul > li > a{
					display: block;
					height: 135px;
					text-indent:-9999px;
				}
				
		div.i{
			float: left;
			width: 206px;
			height: 430px;
			border-right: 1px solid #2f2116;
		}
		
	 	div.d{
	 		float: left;
	 		width: 548px;
	 		height: 430px;
	 	}
	 	
	 	.oculto{
	 		display: none;
	 	}
	 	
	 	/* Código de las secciones */
		div#bienvenida > div.i > p.eventos{
			background: url(imgs/eventos.png) no-repeat center center;
			height: 330px;
			border-bottom: 1px solid #2f2116;
			text-indent: -9999px;
		}
		div#bienvenida > div.i > #TT_RymEE1kkEpn9KcrKjfqzDzDjDvaK1nMlbYEdkcC5KEj{
			background-color:#000;
			margin-top: 7px;
			margin-left: 33px;
			padding: 0px;
		}
		
		div#bienvenida > div.d > h2{
			font-size: 2em;
			padding-left: 5px;
			padding-top: 10px;
		}
		
		div#bienvenida > div.d > p{
			text-align: justify;
			margin: 20px 7px;
		}
		
		div#ubicacion{
			text-align: center;
		}
			
		div#ubicacion > h2{
			font-size: 2.2em;
		}
		
		div#ubicacion > p{
			font-size: 1.6em;
		}
		
		div#tarifas > div.i{
			width: 160px;
		}
			div#tarifas > div.i > h2{
				width:97px;
				height: 23px;
				background: url(imgs/tarifasmenu.png) no-repeat;
				text-indent: -9999px;
				margin: 5px auto;
			}
			
			div#tarifas > div.i > ol{
				width: 97px;
				margin: 0 auto;
			}
				div#tarifas > div.i > ol > li{
					margin: 12px 0px;
				}
				
					div#tarifas > div.i > ol > li > a{
						display: block;
						height: 16px;
						text-indent: -9999px;
						background: url(imgs/tarifasmenu.png) no-repeat 0px -33px;
					}
					
					div#tarifas > div.i > ol > li > a.hab1{ background-position: 0px -60px; height: 50px; }
					div#tarifas > div.i > ol > li > a.hab2{ background-position: 0px -124px; height: 69px; }
					div#tarifas > div.i > ol > li > a.hab3{ background-position: 0px -207px; height: 52px; }
					div#tarifas > div.i > ol > li > a.hab4{ background-position: 0px -270px; height: 16px; }
					div#tarifas > div.i > ol > li > a.hab5{ background-position: 0px -297px; height: 32px; }
					div#tarifas > div.i > ol > li > a.hab6{ background-position: 0px -344px; height: 16px; }
					div#tarifas > div.i > ol > li > a.hab7{ background-position: bottom left; height: 32px; }
		
		div#tarifas > div.d{
			width: 598px;
		}
		
			div#tarifas > div.d > div > h2{
				font-size: 2.1em;
				margin-bottom: 20px;
				text-align: center;
			}
			
			div#tarifas > div.d > div > p.fprin{
				width: 283px;
				height: 214px;
				float: left;
				margin-left: 5px;
			}
			div#tarifas > div.d > div > p.fsec{
				clear: both;
				
			}
				div#tarifas > div.d > div > p.fsec > img{
					display: inline-block;
					margin: 25px 3px 0px 5px;
				}
			div#tarifas > div.d > div > p.desc{
				width: 307px;
				text-align: center;
				float: left;				
			}
				div#tarifas > div.d > div > p.desc > span{
					font-size: 0.9em;
				}
			div#tarifas > div.d > div#economicos > div{
				width: 299px;
				text-align: center;
				float: left;
			}
			div#tarifas > div.d > div#economicos > div > h2{
				font-size: 1.9em;
			}
			div#tarifas > div.d > div#economicos > div > p, div#tarifas > div.d > div#economicos > div > p > img{
				display: block;
				margin: 10px auto;
			}
			
			
		
		
	div#contacto{
		font-size: 1.2em;
	}
	
		div#contacto > div.i{
			text-align: center;
			width: 350px;
			border:0;
			
		}
			div#contacto > div.i > p{
				margin-top: 30px;
			}
		div#contacto > div.d{
			text-align: center;
			width: 390px;
		}
			div#contacto > div.d > h2{
				margin: 20px 0px;
				font-size: 2.2em;
			}
				div#contacto > div.d > p > span{
					display: block;
					margin: 12px 0px;
				}
				div#contacto > div.d > p > strong{
					font-size: 1.3em;
				}
	
	div#instalaciones{
		height: 430px;
		overflow: auto;
	}
			
		div#instalaciones > h2{
			font-size: 2em;
			text-align: center;	
			margin: 10px 0px;
		}
		
		div#instalaciones > p{
			text-align: center;
		}
		
		div#instalaciones > p  img{
			display: inline-block;
			margin: 3px 9px;
		}